Flask==3.0.2
Flask_Cors==4.0.0
gevent==24.2.1
matplotlib==3.8.3
nltk==3.8.1
numpy==1.26.4
pandas==2.2.1
scikit_learn==1.4.1.post1
seaborn==0.13.2
spacy==3.7.4
torch==2.2.1
tqdm==4.66.2
transformers==4.39.2
wordcloud==1.9.3
